/* Estilos generales */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --color-ppal: #3abef9;
  --color-secondary: #3572ef;
  --color-gray: #b4b4b8;
  --color-gray-dark: #54575d;
  --color-gray-btn: #777777;
}

html {
  /* font-size: 62.5%; */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(58, 58, 58, 0.885);
}
body {
  background-color: #d1d1d1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 40px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.container-toogle {
  display: flex;
  justify-content: flex-end;
}
#btn-toogle-theme {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: solid 1px #cecdcd;
  cursor: pointer;
}
#btn-toogle-theme:hover {
  color: white;
  background-color: var(--color-gray-dark);
}

.dark-mode {
  color: white;
  background-color: var(--color-gray-dark);
}
.measures-field {
  max-width: 300px;
}

footer {
  position: inherit;
  width: 100%; /* Establecemos el ancho del footer a la anchura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #666;
  bottom: 0;
  margin-bottom: 30px;
}

@media (max-width: 720px) {
  main {
    margin: 8px;
    padding: 10px;
  }
  .container-new-task {
    display: flex;
    flex-direction: column;
  }
  .new-task {
    display: block;
  }
}
